/*
  Esse arquivo define o estilo CSS do nosso componente de <button>
*/

button {
  display: block;
  width: 100%;
  border: none;
  padding: var(--size-md);
  border-radius: calc(var(--size-md) * 2);
  font-size: var(--size-md);
  cursor: pointer;
}

button.primary,
button.primary:active{
  background-color: var(--primary-dark);
  color: var(--white);
}

button.primary:hover:not(:active) {
  background-color: var(--primary-light);
  color: var(--white);
}
